/*slider*/
@keyframes slider{

0%{
    left:0;
}
20%{
    left:0;
}
25%{
    left:-100%;
}
45%{
    left:-100%;
}
50%{
    left:-200%;
}
70%{
    left:-200%;
}
75%{
    left:-300%;
}
95%{
    left:-300%;
}
100%{
    left:-400%;
}
}

#slider{
    overflow: hidden;
}
#slider figure img{
    width:10%;
    float: left;
}
#slider figure{
    position: relative;
    width: 500%;
    margin:0;
    right:0;
    text-align:center;
    font-size:0;
    animation:18s slider infinite;
}

/*actual website*/
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Caveat:700);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);


body>nav{
  font-family: "Poiret One", cursive;
  text-align: center;
}

body{
  background-color:LightCyan;
  text-align: center
  font-family: "Poiret One", cursive;
}
/*navigation*/

.main-nav .logo{
  font-family: 'Amatic SC', cursive;
  float:left;
  height:40px;
  padding:15px 30px;
  font-size: 40px;
  line-height: 40px;

}

.main-nav{
  width:100%;
  background-color: black;
  height:70px;
  color: white;
}

.main-nav>ul{
  margin:0;
  padding: 0;
  float:left;
  list-style-type: none;

}
.main-nav>ul>li{
  float:left;
}
.nav-item{
  display: inline-block;
  padding:15px 20px;
  height:40px;
  line-height: 40px;
  margin-left: 20px;
  transition-duration: 200ms;


}

.nav-item:Hover{
  background-color:grey;
}

.nav-option{
  display: none;
}







/*header*/

 h1 {
   font-family:"Poiret One", cursive;
   text-align: center;
   font-size: 45pt;

 }

#aboutMe{
   font-family:"Poiret One", cursive;
   text-align: center;
   font-size: 17pt;
   font-weight: 600;
 }

/*summer creations*/
h2{
   font-family:"Poiret One", cursive;
   font-size: 45pt;
   text-align: center;
 }

h3{
   font-family:"Poiret One", cursive;
   font-size: 40pt;
   text-align: center;
   text-decoration:underline;
   margin-bottom:0pt;


}

/*text inside buttons*/
a{
  text-decoration:none;
  font-family: "Poiret One", cursive;
  font-weight: 100;
  font-size: 25pt;
  color: black;
}

/*make button aesthetically pleasing*/
a{
  border: 2px solid black;
  border-radius: 100px;
  background-color: LightCyan;
  padding: 10px 80px;
  transition-duration: 200ms
}

/*space between buttons*/
a{
  text-align: center;
  margin-left:150px;
  margin-bottom: 50px;
  float:left;
}

/*make it more aesthetically pleasing*/

a:Hover{
  background-color: DarkCyan;
  border: 2px solid white;
  color: White;

}














/*SCRACTCH*/

#paddleButton>a{
  text-decoration:none;
  font-family: "Poiret One", cursive;
  font-weight: 100;
  font-size: 25pt;
  color: black;
}

#paddleButton>a{
  display:inline-block;
  border: 2px solid black;
  border-radius: 100px;
  background-color: LightCyan;
  padding: 3px 80px;
  transition-duration: 200ms
}

/* make it in center of screen*/
#paddleButton>a{
  text-align: center;
  margin-left:450px;
  margin-bottom:30px;
}

/*make it more aesthetically pleasing*/
#paddleButton>a:Hover{
  background-color: DarkCyan;
  border: 2px solid white;
  color: White;
}



#pigButton>a. {
  text-decoration:none;
  font-family: "Poiret One", cursive;
  font-weight: 100;
  font-size: 25pt;
  color: black;
}

#pigButton>a{
  display:inline-block;
  border: 2px solid black;
  border-radius: 100px;
  background-color: LightCyan;
  padding: 5px 90px;
  transition-duration: 200ms
}

/* make it in center of screen*/
#pigButton>a{
  text-align: center;
  margin-left:510px;
  margin-bottom:30px;
  margin-top:30px;
}

/*make it more aesthetically pleasing*/
#pigButton>a:Hover{
  background-color: DarkCyan;
  border: 2px solid white;
  color: White;
}




#jukeButton>a. {
  text-decoration:none;
  font-family: "Poiret One", cursive;
  font-weight: 100;
  font-size: 25pt;
  color: black;
}

#jukeButton>a{
  display:inline-block;
  border: 2px solid black;
  border-radius: 100px;
  background-color: LightCyan;
  padding: 3px 70px;
  transition-duration: 200ms
}

/* make it in center of screen*/
#jukeButton>a{
  text-align: center;
  margin-left:470px;
  margin-bottom:30px;
  margin-top:30px;
}

/*make it more aesthetically pleasing*/
#jukeButton>a:Hover{
  background-color: DarkCyan;
  border: 2px solid white;
  color: White;
}



/*PYTHON*/
