/*slider*/
@keyframes slider{

0%{
    left:0;
}
20%{
    left:0;
}
25%{
    left:-100%;
}
45%{
    left:-100%;
}
50%{
    left:-200%;
}
70%{
    left:-200%;
}
75%{
    left:-300%;
}
95%{
    left:-300%;
}
100%{
    left:-400%;
}
}

#slider{
    overflow: hidden;
}
#slider figure img{
    width:10%;
    float: left;
}
#slider figure{
    position: relative;
    width: 500%;
    margin:0;
    right:0;
    text-align:center;
    font-size:0;
    animation:18s slider infinite;
}

/*actual website*/
@import url(https://fonts.googleapis.com/css?family=Poiret+One);


body{
  text-align: center;
  background-color:LightCyan;
}

/*header*/
 h1 {
   font-family:"Poiret One", cursive;
   text-align: center;
   font-size: 45pt;

 }

#aboutMe{
   font-family:"Poiret One", cursive;
   text-align: center;
   font-size: 17pt;
   font-weight: 600;
 }

/*summer creations*/
h2{
   font-family:"Poiret One", cursive;
   font-size: 45pt;
   text-align: center;
 }

/*text inside buttons*/
a{
  text-decoration:none;
  font-family: "Poiret One", cursive;
  font-weight: 100;
  font-size: 25pt;
  color: black;
}

/*make button aesthetically pleasing*/
a{
  border: 2px solid black;
  border-radius: 100px;
  background-color: LightCyan;
  padding: 10px 80px;
  transition-duration: 200ms
}

/*space between buttons*/
a{
  text-align: center;
  margin-left:150px;
  margin-bottom: 50px;
  float:left;
}

/*make it more aesthetically pleasing*/

a:Hover{
  background-color: DarkCyan;
  border: 2px solid white;
  color: White;

}


/*scratch tab*/

.button2{
  text-decoration:none;
  font-family: "Poiret One", cursive;
  font-weight: 100;
  font-size: 25pt;
  color: black;
}

.button2{
  border: 2px solid black;
  border-radius: 100px;
  background-color: LightCyan;
  padding: 10px 80px;
  transition-duration: 200ms
}

.button2{
  text-align: center;
  margin-left:150px;
  margin-bottom: 50px;
}
/*make it more aesthetically pleasing*/

.button2:Hover{
  background-color: DarkCyan;
  border: 2px solid white;
  color: White;
}


}
